body{
    font-family: Arial, sans-serif;
    color: #384354;
}

nav{
    height: 60px;
    background-color: #344051;
}

.logo{
    width: 30%;
    text-align: center;
    font-size:28px;
    line-height: 60px;
    color:white;
    float: left;
    
}

.menu{
    font-size:18px;
    line-height: 68px;
    color:white;
    float: right;
    margin-right: 14%;
    text-transform: uppercase;
}

.menu li{
    float: left;
    padding: 0px 10px;
}

.main{
    height: calc(100% - 60px);
    background: url(../img/12.jpg);
    background-position: right 1% top;
    background-repeat: no-repeat;
    background-size: 46% auto;
}

.title_container{
    float: left;
    width: 70%;
    padding-top: 18%;
    text-align: center;
}

.title_container h1{
    color: #2c384a;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title_container h4{
    color: #828994;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
}

.title_container input{
    height: 60px;
    width: 150px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 20px 14px 0px 14px;
}

.about_me{
    text-align: center;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.3);
}

.title{
    text-align: center;
}
.title h2{
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
}

.title h2::before{
    display: block;
    height: 5px;
    width: 50px;
    background-color: #d17700;
    content: "";
    position: relative;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
    
}

.Avatar{
    text-align: center;
}

.Avatar img{
    border-radius: 100px;    
}

.about_me p{
    text-align: left;
    width: 40%;
    margin: 15px auto;
}

.about_me input{
    background: none;
    background-image: url(../img/download.png);
    background-size: 15px 15px;
    background-position: left 16px center;
    background-repeat: no-repeat;
    height: 50px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px 0px 38px;
    margin: 20px 14px 50px 14px;
}

.what_i_can{
    background-image: url(../img/what_i_can.png);
    background-repeat: no-repeat;
    height: 440px;
}

.what{
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.what_item{
    margin: 0px 50px;
    text-align: center;
    width: 180px;
    display: inline-block;
}

.what_i_can .subtitle{
    color: #d17700;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.galery{
    text-align: center;
    margin-top: 20px;
}

.client_info{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 30px auto;
}

.clent_website{
    width: 20%;
}

.about_project{
    margin-left: 50px;
    width: 79%;
}

.clent_website h4{
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0px;
}

.clent_website button{
    background-color: #63b5ae;
    border-radius: 5px;
    padding: 12px 30px;
    margin: 20px 0;
    color: white;
    font-weight: 700;
}

.about_project h2{
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 10px;
}

.about_project p{
    font-size: 17px;
}

.Calculator{
    width: 50%;
    margin: 0 auto;
}

.list h3{
    font-size: 22px;
    font-weight: 700;
    margin: 12px 0px;
}

.list select{
    width: 100%;
    height: 40px;
    font-weight: 700;
    background-color: #eee;
    border: none;
    outline: none;
    color: #737373;
}

.result{
    margin: 40px 0;
    padding-top: 30px;
    border-top: 3px solid #d1d1d1;
}

.name_of_result{
    display: inline-block;
    font-weight: 700;
    font-size: 19px;
}

.result_1{
    font-weight: 700;
    font-size: 19px;
    float: right;    
}

.statistics{
    background-image: url(../img/some_statisitcs_bacground.png);
    background-repeat: no-repeat;
    height: 350px; 
}

.statisic{
    padding-top: 50px;
    width: 100%;
    text-align: center
}

.static_item{
    margin: 0px 70px;
    text-align: center;
    width: 180px;
    display: inline-block;
}

.static_item h2{
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0px;
}

.Reviews{
    text-align: center;
}

.Reviews p{
    text-align: center;
    width: 40%;
    margin: 15px auto;
}

.My_contacts{
    background-image: url(../img/contacts_fon.png);
    color: #eee;
    text-align: center;
}

.mark{
    display: inline-block;
    margin: 50px 50px;
    width: 200px;
}

.My_contacts h3{
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px;
}

.Edits{
    background-color: #d2d6dc;
    width: 353px;
    height: 35px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.message{
    background-color: #d2d6dc;
    width: 736px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.Send_bottom input{
    border-color: #eee;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    background: none;
    width: 200px;
    height: 60px;
    color: #eee;
    font-size: 22px;
    font-weight: 600;
}

.form_radio{
    margin: 30px;
}

.social_media img{
    margin: 30px 60px;
}

footer{
    height: 70px;
    background-color: #344051;
    text-align: center;
    color: #eee;
}

footer p{
    line-height: 70px
}